*{
    margin: 0px;
    padding: 0px;
}
html ,body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #faf8ef;
}

.container{
    width: 35vw;
    height: 10vh;
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
}

#new{
    width: 10vw;
    height: 7vh;
    margin-top: 2vh;
    background-color: #8f7a66;  /* Neutral, warm brown */
    color: #fff;  /* White text for contrast */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer; 
}

#new:hover{
    background-color: #b8a99a;
}

.tittle{
    font-family: Arial;
    font-weight: bold;
    font-size: 50px;
    color: #776e65;
}
#board{
    width: 35vw;
    height: 70vh;
    background-color: #bbada0;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    padding: 3vw;
    grid-gap: 1.9vw;
    /* border-style: solid; */
}
.cell{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-color: black;
    /* border-style: solid; */
    font-family: Arial;
    color: whitesmoke; 

}