*{
    margin: 0px;
    padding: 0px;
}
html ,body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.container{
    width: 35vw;
    height: 10vh;
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
}

#new{
    width: 10vw;
    height: 7vh;
    margin-top: 2vh;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(14, 129, 201);
    font-size: 16px;
    font-family: sans-serif;
}

#new:hover{
    color:rgb(14, 129, 201) ;
    background-color: whitesmoke;
}

.tittle{
    font-family: sans-serif;
    font-size: 50px;
}
#board{
    width: 35vw;
    height: 70vh;
    background-color:whitesmoke;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    padding: 3vw;
    grid-gap: 1.9vw;
    border-style: solid;
}
.cell{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border-color: black;
    border-style: solid;

}